@{
  var stations = ViewBag.allStations;
}

<button> <a href="/API?v=Vclub">Vélov</a></button>
@foreach (var station in stations)
{
  <div class="text-center">
    <p>

      <ul class="list-group">
        <li class="list-group-item">@station.name</li>
      </ul>
    </p>
  </div>
}
